html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #726386;
}

body 
{
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Gabriela;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header 
{
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.25);
    color: #D9D9D9;
    font-family: Gabriela;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
}

a, .header-link
{
    text-decoration: none;
    color: #D9D9D9;
}

a, .footer-link
{
    text-decoration: none;
    color: #000;
}


nav, ul 
{
    list-style-type: none;
}

nav, ul, li 
{
    display: inline;
    margin-left: 8px;
    margin: 0;
    padding: 0;
}

footer, nav, ul, li 
{
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 8px;
}

main
{
    flex: 1 0 auto;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    height: 40px;
    background: rgba(255, 255, 255, 0.25);
    margin: 0;
    padding: 16px;
    font-size: 24px;
}

.title
{
    color: #D9D9D9;
    font-family: Gabriela;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.intro 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 120px 0 0 0;
}

.intro-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    font-size: 32px; 
    height: 110px;
    padding: 16px;
    margin: 0;
    flex-shrink: 0;
    border-radius: 2px;
}

.project-container 
{
    margin: 0;
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.description-card 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    margin: 0;
    padding: 8px;
    border-radius: 5px;
}

.img-container {
    display: block;
    margin: 8px;
}

#usda-card 
{
    display: none;
}

#fowl-card
{
    display: none;
}